<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.electionmachine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconbooking"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainPageActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ElectionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".InitiativeCreationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name=".BlockGenerationService"
            android:label="My Service">
            <intent-filter>
                <action android:name="com.example.electionmachine.BlockGenerationService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ConfigActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".DiagramActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ListofInitiativesActivity"
            android:label="@string/title_activity_list_initiatives"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--activity android:name=".ListofInitiativesActivity" /-->
    </application>

</manifest>